! Allow for ctrl+shift+c/v to copy/paste on xterm
*VT100.Translations : #override \
Ctrl Shift <Key>V        : insert-selection(CLIPBOARD) \n\
Ctrl Shift <Key>C        : copy-selection(CLIPBOARD)

! Fonts
*font        : Roboto Mono 10



! URxvt specific options

! vim-scrollback extension
URxvt.perl-ext-common: vim-scrollback,resize-font
URxvt.perl-lib: /home/jcarneiro/.urxvt/urxvt-vim-scrollback/
URxvt.vim-scrollback: C-i
URxvt.vim-scrollback-paste: C-p

! Scrollback buffer
URxvt.saveLines : 50000

! Scrolls the pager, not the buffer, on a secondary screen
URxvt.secondaryScreen : 1
URxvt.secondaryScroll : 0
URxvt.secondaryWheel  : 1

! Disable scrollbar
URxvt.scrollBar        : false

! Do not scroll with output
URxvt.scrollTtyOutput  : false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer : true

! Scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true
